@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color:#111827;
  --secondary-color:#d8c200;
  --text-color:#ffff;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.Typewriter__wrapper{
  font-size: 30px;
  font-weight: 600;
  font-family: cursive;
}

body {
 background: linear-gradient(to bottom left, var(--primary-color),var(--primary-color));
}


